{% extends "template.html" %}
{% block conteudo %}

<h1>Bem vindo ao Projeto Hermes</h1>
<p>O objetivo desse projeto é ajudar a aprender a linguagem Python de forma simples e prática.</p>
<p>Esse projeto foi iniciado como parte do Projetor Integrador da UNIVESP</p>
<p>Os participantes desse projeto são:</p>
<ol>
    <li>Almir</li>
    <li>Angelo</li>
    <li>Carlos</li>
    <li>Luciano</li>
    <li>Luis Carlos</li>
    <li>Raul</li>
</ol>
<p>Seja bem vindo para começar a estudar se registre e após entrar clique no menu lições.</p>


{% endblock %}